.App {
  text-align: center;
  background-color: #272727

}

#leaf-container {
  margin-top: 50px;
  align-content: center;
  align-items: center;
  text-align: center;
}

#leaf-col {
  align-content: center;
  align-items: center;
  text-align: center;
}

.leaf {
  margin-left: 450px;
  width: 100px; 
  height: 100px;
  background-color: #A0DE21; 
  border-radius: 0 100px;
}

#x {
  color: #fff;
  margin-top: 40px;
  text-shadow: 3px 3px 3px black;
}

#tomato {
  margin: auto ;
  max-width: 600px;
  text-align: center;
  align-items: center;
  height: 600px;
  background-color: red;
  border-radius: 984px 1020px 1200px 1200px;
}

.row {
  margin-left: -40px;
  text-align: center;
  align-items: center;
  align-content: center;
}

#timer-box {
  margin: 100px 200px 0;
  background: #272727;
  border-radius: 20px;
  box-shadow: 1px 1px 1px black;
}

.timer {
  color: #fff;
}

#button-row {
  padding-top: 100px;
}

button {
  box-shadow: 3px 3px 3px black;
}

@media (max-width: 451px) {

  .leaf{
    margin-left: 100px;
  }

  #tomato {
    height: 400px;
  }

  #x {
    margin-top: 6 0px;
  }

  #timer-box {
    margin: 30px 70px 0;
  }

  #button-row {
    padding-top: 50px;
  }

}