.App {
  text-align: center;
  background-color: #272727

}

#leaf-container {
  align-content: center;
  align-items: center;
  text-align: center;
}

#leaf-col {
  align-content: center;
  align-items: center;
  text-align: center;
}

.leaf {
  margin-left: 450px;
  width: 100px; 
  height: 100px;
  background-color: #A0DE21; 
  border-radius: 0 100px;
}

#x {
  margin-top: 40px;
}

#tomato {
  margin: auto ;
  max-width: 600px;
  text-align: center;
  align-items: center;
  height: 600px;
  background-color: red;
  border-radius: 984px 1020px 1200px 1200px;
}

.row {
  margin-left: -40px;
  text-align: center;
  align-items: center;
  align-content: center;
}

#timer-box {
  margin-top: 100px;
  margin-left: 240px;
  background: #272727;
  border-radius: 20px;
}

.timer {
  color: #fff;
}

#button-row {
  padding-top: 100px;
}

